html {
    scroll-behavior: smooth;
}

.brand-bgcolor {
    background-color: #f2aa4c;
}

.brand-color {
    color: #f2aa4c;
}

.dropshadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.08) !important;
}

.dropshadow-inverse {
    box-shadow: 0 -4px 16px rgba(0, 0, 0, 0.08) !important;
}

.hide {
    opacity: 0;
}

.successBanner {
    position: fixed;
    width: 100vw;
    bottom: 10px;
}

@keyframes fadeIn {
    100% {
        opacity: 1;
    }
}

@keyframes fadeOut {
    100% {
        opacity: 0;
    }
}
