html {
    scroll-behavior: smooth;
}

.brand-bgcolor {
    background-color: #F2AA4C;
}

.brand-color {
    color: #F2AA4C;
}

.dropshadow {
    box-shadow: 0 4px 16px rgba(0, 0, 0, .08)!important;
}

.dropshadow-inverse {
    box-shadow: 0 -4px 16px rgba(0, 0, 0, .08)!important;
}

.hide {
    display: none
}